@mixin rounded-borders() {
  border-radius: 25px;
}

@mixin center-div() {
  justify-content: center;
}

body {
  @include center-div();
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: brown;
  flex-wrap: wrap;
  display: flex;
  column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  @include rounded-borders();
  width: 40vw;
  min-width: 350px;
  height: 300px;
}

.section {
  @include rounded-borders();
  overflow-wrap: break-word;
  width: 45%;
  word-wrap: break-word;
  border-style: solid;
  border-color: burlywood;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.sticky {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: xx-large;
}

.hop {
  display: block;
  position: absolute;
  -webkit-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
